*{
  box-sizing: border-box;
}

.game-container{
  margin: auto;
  width: 402px;
  height: 100vh;
}

.b{
  border: 1px solid black;
}

.r{
  display: flex;
}

.spawn-element{
  position: absolute;
  top: -160px;
  display: flex;
  align-items: flex-end;
  height: 161px;
}

.animate{
  position: relative;
  width: min-content;
}

.offset{
  width: 40px;
  height: 40px;
  opacity: 0;
}

.button{
  position: absolute;
  height: 50px;
  width: 100px;
  bottom: 10px;
}

.square{
  width: 40px;
  height: 40px;
  background-color: green;
  border: 1px solid gray;
}

.score{
  float: right;
}

.field{
  width: 40px;
  height: 40px;
  border: 1px solid gray;
}

.g-row{
  display: flex;
}

.fill{
  background-color: green;
}