*{
  box-sizing: border-box;
}

.container{
  display: flex;
  justify-content: center;
}

.sidebar{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
  width: 300px;
}

.speed-settings input{
  margin-left: 10px;
}

.blocks-settings div{
  margin-top: 5px;
}

.link{
  position: relative;
  bottom: 0;
  margin-top: 25px;
}

.info p {
  margin: 0;
  padding: 0;
}

.game-container{
  margin: 0 10px;
  width: 402px;
  height: 100vh;
}

.b{
  border: 1px solid black;
}

.r{
  display: flex;
}

.spawn-element{
  position: absolute;
  top: -160px;
  display: flex;
  align-items: flex-end;
  height: 161px;
}

.animate{
  position: relative;
  width: min-content;
}

.offset{
  width: 40px;
  height: 40px;
  opacity: 0;
}

button{
  margin-top: 5px;
  margin-left: 5px;
  height: 40px;
  width: 70px;
  border-radius: 10px;
  background-color: rgb(60, 142, 218);
  outline: none;
  box-shadow: none;
}

span{
  padding: 6px 20px   ;
  font-size: large;
  margin: 4px;  
  border-radius: 20px;
}

button:focus{
  outline: none;
}

.square{
  width: 40px;
  height: 40px;
  border: 1px solid gray;
  border-left: none ;
}

.green{
  background-color: rgb(41, 126, 7);
}

.blue{
  background-color: rgb(19, 84, 170);
}

.yellow{
  background-color: rgb(233, 201, 22);
}

.red{
  background-color: rgb(170, 42, 19);
}

.score{
  float: right;
}

.field{
  width: 40px;
  height: 40px;
  border: 1px solid gray;
}

.g-row{
  display: flex;
}
